In [1]:
import pandas as pd

In [2]:
file = pd.read_table('test.txt', sep=' ')

In [6]:
file = file[['SNP_A', 'SNP_B', 'R_2']]
file

  SNP_A SNP_B  R_2
0   rs1   rs2  0.1
1   rs2   rs2  1.0
2   rs1   rs1  1.0
3   rs2   rs1  0.1

In [9]:
newf = file.pivot(index='SNP_A', columns='SNP_B')
newf.columns = newf.columns.droplevel(0)
newf

SNP_B  rs1  rs2
SNP_A
rs1    1.0  0.1
rs2    0.1  1.0